html {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #ff6600;
}

#landing {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  height: 100%;

}
.container {
  display: none;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  height: 100%;
}



.input {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 4px solid white;
  color: #fff;
  font-size: 18px;
  width: 30%;

}

.values {
  background: transparent;
  border: none;
  outline: none;
  margin-top: 230px;
  color: #fff;
  font-size: 24px;
  font-weight: bold;

}

.submit {
  background-color: #ff6600;
  border-color: #fff;
  color: #fff;
  font-size: 30px;
  margin-top: 70px;
  margin-right: 54%;
  margin-left: 36%;
  font-family: "Rubik", sans-serif;
}

#results {
  display: none;

}
.output {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: baseline;
  margin-top: 230px;
}

.result {
  background: transparent;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.refresh {
  background-color: #ff6600;
  border-color: #fff;
  color: #fff;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  margin-top: 28px;
  margin-right: 54%;
  margin-left: 54%;
}

.landing-btn {
  background: transparent;
  background-color: #ff6600;
  border: 2px solid #fff;

  color: #fff;
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  margin-left: 1%;
  margin-top: 20%;
}
